<ion-content>
  <div class="welcome-container">
    <h1 class="title">onBarber</h1>
    <img class="logo" src="../../../assets/logo.png" alt="logo">
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="login">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="register">
        <ion-icon class="register-button" name="person-add-outline"></ion-icon>
        <ion-label>Crie uma conta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>