<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="main">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Agendamento</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="sobre">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>